:root {
  --small-gap: 15px;
  --medium-gap: 25px;
  --large-gap: 30px;
  --light-green: #c7e4a9;
  --dark-green: green;
  --dark-gray: gray;
  --dark-red: red;
  --white: white;
  --blue: rgb(86, 140, 227);
  --black: black;
  --background-body: #e3e5e8;
  --background-header: #0058a3;
}

body {
  margin: 0px;
  background-color: var(--background-body);
  margin-bottom: var(--small-gap);
}

h1 {
  margin: 0px;
  padding: 0px;
}

body,
input,
button {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

button {
  cursor: pointer;
  padding: var(--small-gap);
  border-radius: 15px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: 0px;
}

.header {
  background-color: var(--background-header);
  padding: var(--small-gap);
  position: sticky;
  top: 0;
  color: var(--white);
}
.header-table {
  width: 100%;
}
.header-table td {
  width: 30%;
}
.title {
  font-size: 1.75em;
  text-align: center;
}

.content {
  padding: var(--small-gap);
}

.hidden {
  display: none;
}

.error {
  background-color: var(--dark-red);
  color: var(--white);
  padding: var(--small-gap);
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 50%;
  word-wrap: break-word;
  z-index: 1000;
}
.error-title {
  font-weight: bold;
  margin-bottom: var(--small-gap);
}
.error-message {
  margin: 0;
}

@media screen and (max-width: 992px) {
  :root {
    --small-gap: 15px;
    --medium-gap: 35px;
    --large-gap: 70px;
  }
  body,
  input,
  button {
    font-size: 30px;
  }
}
