:root {
  --small-gap: 15px;
  --medium-gap: 25px;
  --large-gap: 30px;
  --light-green: #c7e4a9;
  --dark-green: green;
  --dark-gray: gray;
  --dark-red: red;
  --white: white;
}

body {
  margin: 0px;
  background-color: rgb(220, 220, 220);
  margin-bottom: var(--small-gap);
}

h1 {
  margin: 0px;
  padding: 0px;
}

body,
input {
  font-family: Arial, sans-serif;
  font-size: 20px;
}
button {
  font-size: 30px;
  padding: var(--small-gap);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
  padding: 0px;
}

.header {
  background-color: var(--light-green);
  padding: var(--small-gap);
  position: sticky;
  top: 0;
}

.content {
  padding: var(--small-gap);
}

.hidden {
  display: none;
}

.error {
  background-color: var(--dark-red);
  color: var(--white);
  padding: var(--small-gap);
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 50%;
  word-wrap: break-word;
  z-index: 1000;
}
.error-title {
  font-weight: bold;
  margin-bottom: var(--small-gap);
}
.error-message {
  margin: 0;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  gap: var(--small-gap);
}

@media screen and (max-width: 992px) {
  :root {
    --small-gap: 15px;
    --medium-gap: 35px;
    --large-gap: 70px;
  }
  body,
  input {
    font-size: 30px;
  }
  button {
    font-size: 30px;
  }
}
