:root {
  --tiny-gap: 5px;
  --small-gap: 15px;
  --medium-gap: 25px;
  --large-gap: 30px;
  --light-green: #c7e4a9;
  --dark-green: green;
  --dark-gray: rgb(82, 82, 82);
  --dark-red: red;
  --white: white;
  --blue: rgb(86, 140, 227);
  --black: black;
  --background-body: #e3e5e8;
  --dark-blue: #0058a3;
}

body {
  margin: 0px;
  background-color: var(--background-body);
  margin-bottom: var(--small-gap);
}

h1 {
  margin: 0px;
  padding: 0px;
  margin-bottom: var(--medium-gap);
}

body,
input,
button {
  font-family: Arial, sans-serif;
  font-size: 20px;
}
input {
  padding: var(--tiny-gap);
}

.action-button {
  cursor: pointer;
  padding: var(--small-gap);
  border-radius: 15px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: 0px;
}

.form button {
  margin-top: var(--medium-gap);
}

.header {
  background-color: var(--dark-blue);
  padding: var(--small-gap);
  position: sticky;
  top: 0;
  color: var(--white);
}
.header-table {
  width: 100%;
}
.header-table td {
  width: 30%;
}
.title {
  font-size: 1.75em;
  text-align: center;
}

.content {
  padding: var(--small-gap);
}
.content-header {
  margin-bottom: var(--medium-gap);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: var(--small-gap);
}
.tip {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  padding-left: 0px;
  gap: var(--small-gap);
}
.light {
  font-size: 30px;
  font-style: normal;
}
.login-invite {
  font-size: 1.2em;
  color: var(--dark-gray);
}

.error {
  background-color: var(--dark-red);
  color: var(--white);
  padding: var(--small-gap);
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 50%;
  word-wrap: break-word;
  z-index: 1000;
}
.error-title {
  font-weight: bold;
  margin-bottom: var(--small-gap);
}
.error-message {
  margin: 0;
}

.proposition-card {
  background-color: var(--white);
  padding: var(--small-gap);
  margin-bottom: var(--small-gap);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: var(--small-gap);
}
.proposition-card-who-what {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}
.proposition-card-owner {
  font-size: 1em;
  font-weight: bold;
  color: var(--dark-blue);
}
.proposition-card-text {
  font-size: 1.2em;
}
.proposition-card-vote {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  align-items: center;
}
.first {
  margin-left: auto;
}
.voting-button {
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.voted {
  border-radius: 30px;
  border: 2px solid var(--dark-green);
}
:disabled {
  cursor: not-allowed;
}

.spinner {
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.spinner svg {
  width: 100%;
  height: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 992px) {
  :root {
    --small-gap: 15px;
    --medium-gap: 35px;
    --large-gap: 70px;
  }
  body,
  input,
  button {
    font-size: 30px;
  }
  .tip {
    font-size: 25px;
  }
  .light {
    font-size: 50px;
  }
  .voting-button {
    font-size: 1.1em;
  }
}
